<section class="hero-section">
    <div class="hero-content">
        <div class="hero-grid">
            <div class="hero-text">
                <h1 class="hero-title">👋 Hello Friends</h1>
                <p class="hero-description">I am a designer focused on creating accessible and user-friendly experiences. I make <a href="https://microsocial.micro.blog" class="hero-link">Micro Social</a>. When I'm not designing you'll find me taking photos and spending time with <a href="https://teammorris.org" class="hero-link">my family</a>.</p>
                <div class="hero-cta">
                    <a href="/about" class="cta-button">More About Me</a>
                    <a href="#blog-posts" class="cta-button cta-secondary">Latest Writing</a>
                </div>
            </div>
            <div class="hero-aside">
                <div class="hero-photo">
                    <img class="u-photo" src="https://cdn.micro.blog/photos/96/https://avatars.micro.blog/avatars/2025/12/1600965.jpg" alt="Photo of Greg Morris" />
                </div>
                <div class="social-links">
                    <a aria-label="micro.blog" href="https://micro.blog/gregmorris/"><i class="fa-brands fa-microblog"></i></a>
                    <a aria-label="bluesky" href="https://bsky.app/profile/gr36.com"><i class="fa-brands fa-bluesky"></i></a>
                    <a aria-label="mastodon" href="https://social.lol/@gr36"><i class="fa-brands fa-mastodon"></i></a>
                    <a aria-label="buy me a coffee" href="https://www.buymeacoffee.com/gregmorris"><i class="fa-solid fa-mug-saucer"></i></a>
                </div>
            </div>
        </div>
    </div>
</section> 