<nav role="navigation" aria-label="Main navigation">
    <ul>
        <li class="boxed{{ if eq .Page.RelPermalink "/" }} active{{ end }}">
            <a href="/" aria-current="{{ if eq .Page.RelPermalink "/" }}page{{ end }}">Home</a>
        </li>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="boxed{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
            <a href="{{ .URL }}" aria-current="{{ if $currentPage.IsMenuCurrent "main" . }}page{{ end }}">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
</nav>
