<li class="post">
  <div class="post-title">
    {{ if .Title }}
      <a href="{{ .Permalink }}"><h1 class="p-name">{{ .Title }}</h1></a>
    {{ end }}
  </div>
  <section class="e-content post-body">
    {{ if in .Params.categories "Link" }}
      {{ .Content }}
    {{ else }}
      {{ .Summary }}
    {{ end }}
  </section>
  <div class="post_meta">
    {{ if and (not (in .Params.categories "Link")) .Truncated }}
      <a href="{{ .RelPermalink }}">Read more...</a>
    {{ end }}
    <time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}"><i class="fa-regular fa-calendar"></i>  {{ .Date.Format "02 Jan 2006" }}</time>
    {{ if .Params.categories }}
    <div>
    {{ range .Params.categories }}
      <a href="/categories/{{ . | urlize }}"><i class="fa-solid fa-tag"></i>  {{ . }} </a>
    {{ end }}
    </div>
    {{ end }}
  </div>
</li>


<span class="separator"><span class="divider"></span></span>
