<li class="post">
    <div class="post-title flow">
{{ if .Params.categories }}
<div><span>
{{ range .Params.categories }}
    <a href="/categories/{{ . | urlize }}"><i class="fa-solid fa-tag"></i>  {{ . }} </a>
{{ end }}
</span></div>
{{ end }}
{{ if .Title }}
  <a href="{{ .Permalink }}">
    <h1 class="p-name">{{ .Title }}</h1>
</a>
 {{ end }}
<div class="datetime" style="font-size: 70%">
    <i class="fa-regular fa-calendar"></i> 
    <time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "02 Jan 2006" }}</time>
  </div>
  </div>
<section class="e-content post-body">
     {{ .Content }}
  </section>
</li>


<span class="separator"><span class="divider"></span></span>
