<div class="reply-via">
Reply via
  <div class="syndication">
  <!--
    <div  id="showForm">
        <a href="#"><i class="fa-solid fa-comment"></i></a> Leave Reply</a>
      </div>
  -->
      <div class="microblog">
        <a class="u-syndication conversation-{{ .Title | urlize }}" href="https://micro.blog/gregmorris/"><i class="fa-brands fa-microblog"></i> Micro.blog</a>
      </div>


    {{ if .Params.threads.url }}
      <div class="threads">
        <a class="u-syndication" {{ printf "href=%q" .Params.threads.url | safeHTMLAttr }}><i class="fa-brands fa-threads"></i> Threads</a>
      </div>
    {{ end }}

    {{ if .Params.bluesky.link }}
      <div class="bluesky">
        <a class="u-syndication" {{ printf "href=%q" .Params.bluesky.link | safeHTMLAttr }}><i class="fa-brands fa-bluesky"></i> BlueSky</a>
      </div>
    {{ end }}

    {{ if .Params.mastodon.id }}
      <div class="mastodon">
        <a class="u-syndication" href="https://{{ $.Params.mastodon.hostname }}/@{{ $.Params.mastodon.username }}/{{ .Params.mastodon.id }}"><i class="fa-brands fa-mastodon"></i> Mastodon</a>
      </div>
    {{ end }}

    <div class="email">
      {{ partial "reply-by-email.html" . }}
    </div>
  </div>
  <div class="comments">
    <!-- Leave A Reply section -->
    <details id="leave-reply">
      <summary>Leave A Reply Instead? <i class="fa-brands fa-microblog"></i><i class="fa-brands fa-bluesky" ></i><i class="fa-brands fa-mastodon"></i></summary>
    </details>
  
    <!-- Comments Section in a Collapsible <details> -->
    <details id="comments-section">
      <summary id="comments-summary">Read Comments (0)</summary>
      <div id="microblog-comments"></div>
    </details>
  
    <!-- Load Micro.blog Script -->
    <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
  </div>
</div>