---
layout: post
microblog: true
guid: http://greg-morris.micro.blog/2022/05/07/the-test-run.html
post_id: 4054486
date: 2022-05-07T09:02:10-0000
lastmod: 2024-06-22T16:19:15-0000
type: post
images:
- uploads/2022/4ddb114288.jpg
photos:
- uploads/2022/4ddb114288.jpg
photos_with_metadata:
- url: uploads/2022/4ddb114288.jpg
  width: 600
  height: 600
url: /2022/05/07/the-test-run.html
---
The test run of putting the tent up on the drive way was a success. 

Next time won’t be so easy! 🏕

<img src="uploads/2022/4ddb114288.jpg" width="600" height="600" alt="" />
